.fancy_link
{
    text-decoration: none;
    color: #FFFFFF;
}
.fancy_link:hover
{
    font-weight:bold;
    text-decoration:underline;
    color:#FFFFFF;
}


.nav-item
{
    display: inline;
}

ul
{
    list-style-type: none;
}

li
{
    margin: 5px;
    padding: 5px;
    
    max-width: 500px;
    /*background-color:#8DABE0;*/
}


.button {
      background-color: #8DABE0;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}

.page_li
{
    background-color:#FFFFFF;
    border-style: solid;
    border-width:thin;
    border-color: #FFFFFF;
    
    border-bottom-color: #FFB5B9;
    border-width: 2px;
}

.page_text
{
    color:#F9F9F9;
}

p
{
    color:#585858;
    font-style: italic;
}