/* Jumbotron */
.jumbotron {
    background-color: #4D813E;
    padding: 1rem;
    text-align: center;
    color: white;
  }
  
  .jumbotron h1 {
    font-weight: 900;
    color: #FFFFFF;
  }
  
  
  /* Meetings Section */
  .meetings-section {
    display: inline-block;
  }
  
  .meetings-section header {
    background-color: #84B9F9;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    color: #FFFFFF;
  }
  
  .meetings-section h1 {
    font-weight: 700;
    color: #FFFFFF;
  }
  
  .meetings-section ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .meetings-section li {
    margin-top: 1rem;
  }
  
  .meetings-section p {
    margin-bottom: 0;
  }
  
  
  /* Navbar */
  .navbar {
    background-color: #4D81A7;
    color: #FFFFFF;
  }
  
  .navbar-toggler {
    color: #FFFFFF;
  }
  
  .navbar-nav {
    margin-left: auto;
    margin-right: 0;
  }
  
  .fancy_link {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .fancy_link:hover {
    text-decoration: underline;
  }
  
  
  /* News Section */
  .news-section {
    display: inline-block;
  }
  
  .news-section header {
    background-color: #B59EC1;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    color: #FFFFFF;
  }
  
  .news-section h1 {
    font-weight: 700;
    color: #FFFFFF;
  }
  
  .news-section ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .news-section li {
    margin-top: 1rem;
  }
  
  .news-section p:first-child {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }